.button {
    position: relative;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.0);
    /* padding: 1em 2em; */
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    /* overflow: hidden; */
    /* border-radius: 100px; */
    width: 312px;
    height: 72px;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    perspective: 3000px;
}
.button span {
    position: relative;
}

.button::before{
    /* --size: 0; */
    content: '';
    position: absolute;
    /* display: block; */
    /* left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size); */
    /* radial-gradient（指定圆形的径向渐变，指定径向渐变的半径长度为从圆心到离圆心最近的边，指定颜色，指定透明 ）*/
    /* background: radial-gradient(circle closest-side, #4405f7, transparent); */
    /* 指定圆形渐变的中点在鼠标位置 */
    /* transform: translate(-50%, -50%);
    transition: width .7s ease, height .7s ease; */
    /* transform-style: preserver-3d; */
    transition-property: transform;
    transition-duration: 0.5s;
    --size1: 0;
    --size2: 0;
    --size3: 0;
    --size4: 0;
    transform: translateZ(var(--size4)) perspective(880px) rotateY(var(--size2)) rotateX(var(--size1)) rotateZ(var(--size3));
    /* perspective-origin: 25% 75%; */
    /* transform: rotateY(15deg) rotateX(15deg); */
    /* border-radius: 12px; */
    /* background: url(./HunterRecoveryMod.png) no-repeat; */
    background-color: hotpink;
    width: 312px;
    height: 72px;
    /* width: 238px;
    height: 343px; */
    top: 0px;
    left: 0px;
    box-shadow: 0 3px 12px rgba(26,26,26,.36);
}

.button:hover::before,.button:hover::after{
    --size1: var(--x);
    --size2: var(--y);
    --size3: var(--z); 
    --size4: var(--q);   
}

.button::after{
    position: absolute;
    /* content: ''; */
    content: 'hover me Im awesome';
    /* transform-style: preserver-3d; */
    transition-property: transform;
    transition-duration: 0.5s;
    --size1: 0;
    --size2: 0;
    --size3: 0;
    transform:translateZ(150px) perspective(1020px) rotateY(var(--size2)) rotateX(var(--size1)) rotateZ(var(--size3));
    top: 0px;
    left: 0px;
    width: 312px;
    height: 72px;
    line-height: 72px;
}

body{
    background-color: #333;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* background: url(./16.gif) no-repeat; */
}

.content{
    width: 100%;
}

.title{
    height: 88px;
    width: 100%;
    text-align: center;
}

.title >span{
    line-height: 88px;
    font-size: 42px;
    font-weight: bolder;
    color: #fff;  
}

.nav_bar{
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.12);
    box-shadow: 0 3px 12px rgba(26,26,26,.36);
}

.mod_box{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.mod_card{
    margin: 24px 16px 0px 16px;
    background: url("https://huiji-public.huijistatic.com/warframe/uploads/c/cb/HunterRecoveryMod.png") no-repeat;
    width: 166px;
    height: 240px;
    background-size: cover;
    display: inline-block;
}


